@import "fonts.css";

body{
    padding:            0px;
    margin:             0px;
    height:             100%;
}

html{
    height:             100%;
    
}

.mainBody{
    border:             1px;
}

/* General */
.right{
    text-align:         right;
    padding-right:      10px;
}

.left{
    text-align:         left;
    padding-left:       10px;
}

.center{
    text-align:         center;
}

/* Menu */
.header thead th a:link {
    color:              #4B4B4B;
    text-decoration:    none;
}
         
.header thead th a:visited {
    color:              #4B4B4B;
    text-decoration:    none;
} 
     
.header thead th a:hover {
    color:              #4B4B4B;
    text-decoration:    none;
}
     
.header thead th a{
    color:              #4B4B4B;
    text-decoration:    none;
    
    padding:            0px;
    margin:             0px;
    padding-right:      5px;
    padding-left:       5px;
}


/* Poll */
.poll{  
    border:             1px solid #B3B3B3;  
    padding:	        0px;
    margin: 	        0px;
    width:              100%;
}

.poll tbody{
    background-color:   #F2F2F2;
    color:              #4B4B4B;
}

.poll tbody td{
    width:              100px;
    padding-bottom:     5px;
}

.total{
    float: left;
    padding-left: 40px;
}

.poll thead th{
    border-bottom:      1px solid #B3B3B3; 
    background-color:   #ffffff;
    
    height:             75px;
    text-align:         right;
    padding-right:      15px;
    
}

.poll thead td{
    border-bottom:      1px solid #B3B3B3; 
    background-color:   #ffffff;
    
    height:             75px;
    text-align:         left;
    padding-left:       15px;
    vertical-align:     top;
    
}

.title{
    width:              170px;
    padding-top:        5px;
    padding-left:       15px;
    padding-right:      15px;
    
    vertical-align:     top;
    color:              #4B4B4B;
    
    font-weight:        bold;
}

.note{
    padding-left:       20px;
}

.postTo{
    width:              425px;    
    background-image:   url('../../images/form_bg.jpg');
    background-repeat:  repeat-x;
    border:             1px solid #d1c7ac;
    color:              #333333;
    padding:            3px;
    margin-right:       4px;
    margin-bottom:      8px;

}

.question{
    width:              420px;
    border-bottom:      1px solid #B3B3B3; 
    background-image:   url('../../images/form_bg.jpg');
    background-repeat:  repeat-x;
    border:             1px solid #d1c7ac;
    color:              #333333;
    padding:            3px;
    margin-right:       4px;
    margin-bottom:      8px;
    
}

.buttons{
    width:              420px;
    border-bottom:      1px solid #B3B3B3; 
    background-image:   url('../../images/form_bg.jpg');
    background-repeat:  repeat-x;
    border:             1px solid #d1c7ac;
    color:              #333333;
    padding:            3px;
    margin-right:       4px;
    margin-bottom:      8px;
    
}


.options{
    border-bottom:      1px solid #B3B3B3; 
    background-image:   url('../../images/form_bg.jpg');
    background-repeat:  repeat-x;
    border:             1px solid #d1c7ac;
    color:              #333333;
    padding:            3px;
    margin-right:       4px;
    margin-bottom:      8px;
    
}

.PollSubmit{    
    border-bottom:      1px solid #B3B3B3;
    background-color:   #627AAD;
    color:              #ffffff;
    padding-top:        2px;
    padding-bottom:     2px;
    padding-left:       5px;
    padding-right:      5px;
}

